.DetailsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 500px;
}

.DetailsPage__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
