.TextLabel {
  text-align: center;
}

.TextLabel__label {
  font-size: 16px;
  font-weight: bold;
  color: rgb(87, 87, 87);
}

.TextLabel__header {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.TextLabel__button {
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 5px;
}

.TextLabel__error {
  color: #f00;
  font-size: 12px;
  font-weight: bold;
}

.TextInput {
  width: 100%;
}

.TextInput__input {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  width: 100%;
}

.ButtonInput {
  width: 100%;
}

.ButtonInput__button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(97, 62, 181);
  margin: 5px;
  width: 100%;
}

.ButtonInput__label {
  grid-column: 2;
}

.Spinner {
  pointer-events: none;
}

.Spinner__small {
  width: 20px;
}

.Spinner__medium {
  width: 40px;
}

.Spinner__large {
  width: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .Spinner {
    animation: Spinner-spin infinite 1s linear;
  }
}

@keyframes Spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
